geojson==3.1.0
jsonschema==4.23.0
matplotlib==3.9.2
numpy==2.1.1
peft==0.12.0
Pillow==10.4.0
prometheus_client==0.20.0
psutil==5.9.8
pycocotools==2.0.8
pytest==8.3.2
PyYAML==6.0.1
PyYAML==6.0.2
ray==2.35.0
Requests==2.32.3
scikit_learn==1.5.1
torch==2.3.1
torchvision==0.19.1
tqdm==4.66.4
transformers==4.44.2
